

.Footer {
  background: black;
  height: 150px;
}
.Footer:before {
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      black 33.333%, black 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      black 33.333%, black 66.667%,
      transparent 66.667%
    );
  background-size: 20px 40px;
}
.zigzag {
  position: relative;
  width: 100%;
}
.zigzag:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  width: 100%;
  height: 10px;
}